In [13]:
import numpy as np # 数値計算のためのツール
from scipy.stats import norm # scipyの中のnormだけを使う、累積分布関数を計算するためにcdfを使う
def tauchen(n, rho, sigma):
    m = 1 / np.sqrt(1 - rho**2) # stdd = m*σ
    state_space = np.linspace(mu - m*sigma, mu + m*sigma, n) # グリットの作成
    d = (state_space[n-1] - state_state[0]) / (n-1) # グリットの幅　# Pythonは0からスタート

    transition_matrix = np.zeros((n, n)) # 空のn行n列の行列を作成

    transition_matrix[0, 0] = norm.cdf((state_space[0] - rho*state_space[0] + d/2)/sigma) # indexは0スタート
    for j in range(n):
        trasition_matrix[0, j] = norm.cdf

In [6]:
# setting prices
r = 0.04 # interest rate
w = 1 # wage

In [3]:
r

0.04

In [7]:
w

1

In [11]:
tauchen(2, 0.9, 4)